.weapon-img{
    width: 100%;
    height: auto;
}

.weapon-card{
    transition: 200ms;
}

.weapon-card:hover{
    background-color: rgb(226, 163, 46);
}

.weapon-img-sm{
    width: 100px;
    height: auto;
}

.weapon-card-sm{
    transition: 200ms;
}


.text-winner{
    position: relative;
    transform: translate(1rem);
}

.text-winner:before{
    position: absolute;
    content: '✓';
    left: -1rem;
    color: rgb(226, 163, 46);
}

button{
    background-color: transparent;
    border: 0;
}

.text-yellow{
    color: rgb(226, 163, 46);
}